body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

header {
    background: #BBBBBB;
    padding: 20px 0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}
.caja{
    width: 940px;
    position: relative;
    margin:0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos{
    width: 940px;
    margin:0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:  top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;

}
.productos li:hover h2{
    font-size: 33px;
}

.descripcion{
    font-size: 18px;
}

.precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos li:hover{
    border-color:#c78c19 ;
    font-size: 33px;
}

.productos li:active{
    border-color: #088c19;
} 

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copy {
    color: #ffffff;
    font-size: 16px;
    margin: 20px;
}


form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-patron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}

form{
    margin: 40px 0px;
}

.checkbox{
    margin: 20px 0px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(68, 61, 48);
    border: none;
    border-radius: 10px;
    transition: 2s all;
    cursor: pointer;
}

.enviar:hover{
background-color: rgb(128, 114, 88);
transform: scale(1);
}

table{
    margin: 40px 40px ;
}

thead{
background: #c04a4a;
color:black;
font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 6px 11px;
}

.banner{
    width: 100%;

}

.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    
}
.tituloPrincipal::first-letter{
    font-weight: bold;
}

p:first-line{
    font-style: italic;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}

.imagendiferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 20px 10px #000000;
}
.imagendiferenciales:hover{
    opacity: 0.3;
  
}

.utensilios{
    width: 120px;;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}
.mapa p{
 margin: 0 0 2em;
 text-align: center;
}

.video{
    width: 560px;
    margin: 1em auto;
}

.contenidoDiferencial{
    width: 640px;
    margin: 0 auto;
}

.listaDiferencial{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items::before{
    content: " ✀";
}

.items:first-child{
    font-weight: bold;
}

.principal{
    padding: 3em 0; 
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}


.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.mapaContenido{
    width: 940px;
    margin: 0 auto ;
}
@media  screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .caja, .principal, .mapa, .contenidoDiferencial, .video{
        width: auto;
    }

    .listaDiferencial, .imagendiferenciales{
        width: 100%;
    }
    
}